Flask==3.0.0
Flask-Cors==4.0.1
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-experimental==0.0.64
langchain-openai==0.1.22
langchain-text-splitters==0.2.2
langsmith==0.1.99
python-dotenv==1.0.0
openmeteo-requests==0.0.1  # Replace with the correct version if available
requests-cache==0.7.0
retry-requests==0.0.3  # Replace with the correct version if available
pandas==2.1.4
SQLAlchemy==2.0.32
