

.footer {

    background-color: #000;
    border-top: 1px solid #0fb7264f;
    color: #fff;
    padding: 2rem 0;
}

.footer__container {

    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-align: left;
    max-width: 1600px;
    padding: 0 2rem;
    margin: 0 auto;
}

.footer__links {

    display: flex;
    gap: 1rem;
}


@media (max-width: 500px) {

    .footer__container {

        padding: 0 1rem;
    }
}